<div class="container">
    <br>
    <a routerLink="/admin/create" class="btn">Sing up Person</a>
   
    <table class="table responsive">
      <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of list">
          <td>{{p.name}}</td>
          <td>{{p.Lastnames}}</td>
          <td>{{p.email}}</td>
          <td>{{p.phone}}</td>
          <td>
            <a routerLink="/admin/edit/{{p.id}}" class="btn">
              <i class="material-icons prefix">edit</i>
            </a>
            <button class="btn red" (click)="delete(p.id)">
              <i class="material-icons prefix">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>