<footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MissionTIC</h5>
          <p class="grey-text text-lighten-4">Team 5 - Group 30</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Team Members</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Julian</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Jose</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">David</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Javier</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Juank</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>